* {
    margin: 0;
    padding: 0;
    font-family: 'Fasthand', cursive;
    font-family: 'Lobster', cursive;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
}

/*start header*/
header {
    background-image: linear-gradient(#00000079, #00000079), url(../img/carousel-1.jpg);
    background-size: cover;
    width: 100%;
    height: 800px;

}

/*start navper*/
.nav-contenr {
    display: flex;
    justify-content: space-between;
}

header .nav-contenr>div {
    margin-top: 25px;
}

.nav-contenr .logo {
    padding-left: 25px;
}

.nav-contenr .logo p {
    font-size: 45px;
    font-weight: bolder;
    color: white;
    padding-right: 5px;
}

/*link*/
.nav-contenr .link ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.nav-contenr .link .navpar-contenar {
    list-style: none;
    margin-top: 10px;
}

.nav-contenr .link .navpar-contenar {
    padding-right: 30px;
}

.nav-contenr .link .navpar-contenar .navpar {
    display: inline-block;

}

.nav-contenr .link .navpar-contenar .navpar>a {
    text-decoration: none;
    color: #ffffff;
    margin-left: 20px;
    padding-left: 5px;
    font-size: 25px;
}

.nav-contenr .link .navpar-contenar .navpar a:hover {
    color: #a5750d;
    transition: 1s ease;
}

.nav-contenr .link .navpar-contenar .navpar .drob-list {
    background-color: rgba(139, 137, 134, 0.525);
    width: auto;
    height: auto;
    margin-left: 24px;
    border-radius: 0 0 5px 5px;
    display: none;

}

.nav-contenr .link .navpar-contenar .navpar:hover .drob-list {
    display: block;
}

.nav-contenr .link .navpar-contenar .navpar .drob-list {
    position: absolute;
    top: 63px;
}

.nav-contenr .link .navpar-contenar .navpar .drob-list a {
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;

}

.nav-contenr .link .navpar-contenar .navpar .drob-list a:hover {
    color: #a5750d;
    transition: 1s ease;
}

/*start home*/
.home-contenar {
    display: flex;
    justify-content: center;
    color: aliceblue;
    margin-top: 200px;
}

.home-contenar .address {
    text-align: center;
    line-height: 100px;
}
.home-contenar .address p {
    font-size: 40px;
}

.home-contenar .address h1 {
    font-size: 110px;
    color: #a5750d;
}

.overlay-bottom-home img {
    width: 100%;
    height: 19px;
    margin-top: 305px;
}

/*end home*/
/*droplist*/
#droplist {
    display: none;
}

.nav-contenr .link label {
    width: 33px;
    background-color: #a5750d;
    margin: auto;
    padding: 5px;
    border-radius: 4px;
    display: none;

}

/*start media*/
@media(max-width:950px) {
    .nav-contenr .link .navpar-contenar {
        display: none;
        position: absolute;
        top: 20px;
        right: 20px;
        border-left: 3px solid #a5750d;
        border-bottom: 3px solid #a5750d;
        animation-name: square;
        animation-duration: 1s;
        animation-fill-mode: both;
    }
    @keyframes square {
        from {
            width: 0;
        }

        to {
            width: 90%;
        }
    }

    .nav-contenr .link label {
        display: block;
        margin-top: 10px;
        margin-left: 10px;
    }

    #droplist:checked~.navpar-contenar {
        display: block;
        background-color: #00000073;
        padding: 5px;
        border-radius: 5px;
        margin-top: 30px;
        text-align: left;
    }

    .nav-contenr .link .navpar-contenar .navpar {
        display: block;
        font-size: 20px;
        line-height: 44px;

    }

    .nav-contenr .link .navpar-contenar .navpar .drob-list {
        top: 184px;
        left: 87px;
        border-right: 3px solid #a5750d;
        border-bottom: 3px solid #a5750d;
        animation-name: square2;
        animation-duration: 1s;
        animation-fill-mode: both;
    }

    @keyframes square2 {
        from {
            width: 0;
        }

        to {
            width: 70%;
        }
    }

    header {
        height: 400px;

    }

    .nav-contenr .logo p {
        font-size: 25px;

    }

    .home-contenar .next,
    .home-contenar .previous {
        margin-top: 100px;

    }

    .home-contenar .address {
        line-height: 70px;
    }

    .home-contenar .address p {
        font-size: 20px;
    }

    .home-contenar .address h1 {
        font-size: 60px;
    }

    .home-contenar {
        margin-top: 100px;
    }
    
    .home-contenar .address {
        line-height: 80px;
    }
    .overlay-bottom-home img {
        margin-top: 59px;
    }
}


/*end navper*/
/*start fresh*/
.fresh .fresh-organic {
    text-align: center;
    margin-top: 30px;
    top: 10px;
}

.fresh .fresh-organic .fresh-line {
    width: 4px;
    height: 90px;
    background-color: #a5750d;
    margin-left: 50%;
}

.fresh .fresh-organic p {
    color: #a5750d;
    font-size: 30px;
}

.fresh .fresh-organic h1 {
    font-size: 30px;
}
.fresh .fresh-organic-besns h1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.fresh .fresh-organic-besns .fresh-coffee .margin i{
    width: 40px;
    height: 40px;
    background-color: #d3a240;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    
}
.fresh .fresh-organic-besns .fresh-coffee .margin .flex{
    display: flex;
}
.fresh .fresh-organic-besns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin: 0 150px 0 150px;

}
.fresh .fresh-organic-besns>div {
    margin-top: 20px ;
    display: flex;
}
.fresh-organic-besns img {
    width: auto;
    height: 150px;
}
.fresh-organic-besns .margin {
    margin-left: 25px;
}

/*start media*/
@media(max-width:1170px) {
    .fresh .fresh-organic-besns {
        display: grid;
        grid-template-columns: repeat(1, 1fr);

    }
}

@media(max-width:700px) {
    .fresh .fresh-organic-besns>div {
        margin: 20px -58px 0 -105px;
        display: block;
    }

    .fresh .fresh-organic .fresh-line {
        height: 80px;
    }

    .fresh .fresh-organic p {
        font-size: 25px;
    }

    .fresh .fresh-organic h1 {
        font-size: 30px;
    }

    .fresh-organic-besns .margin {
        margin-left: 20px;
    }
}

/*end fresh*/
/*start designed*/

.overlay-top-designed img {
    width: 100%;
    height: 17px;
    position: relative;
    top: 40px;
}

.designed {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    color: #ffffff;
    margin-top: 20px;
    line-height: 3.5;
}

.designed-bag .designed .follow i:hover {
    background-color: #f4b938;
    transition: 1s ease;
}

.designed-bag {
    background: linear-gradient(#00000079, #00000079), url(../img/bg.jpg);
    background-size: cover;
}

.designed>div {
    margin: 20px 10px 0 10px;
}

/*start media*/
@media(max-width:700px) {
    .designed {
        grid-template-columns: repeat(2, 1fr);
        line-height: 1.8;
        font-size: 12px;
    }

    .overlay-top-designed img {
        top: 32px;
    }
}

/*start end*/
.designed-end {
    text-align: center;
    color: #ffffff;
    padding: 20px;
}

.designed-bag .designed-end .color {
    color: #a5750d;
    text-shadow: 3px 3px 3px black;

}

.designed-bag .designed-end .color:hover {
    color: #f9cb58;
    list-style-type: lower-greek;
    transition: 1s ease;
}

/*start form*/
.designed .newsletter form {
    font-size: 30px;
}

.designed .newsletter form .sign-up {
    background-color: #a5750d;
    margin-left: -6px;
    color: #ffffff;
}

.designed .newsletter form .email {
    color: #ffffff;
    background-color: #00000000;
}

.designed .newsletter form .sign-up:hover {
    color: #000000;
    background-color: #9d741b;
    transition: 1s ease;
}

.designed-bag .designed .follow i {
    margin-left: 20px;
    border: 2px solid #ffffff;
    padding: 10px;
}

/*start media*/
@media(max-width:700px) {
    .designed .newsletter form .email {
        font-size: 20px;
    }
}

@media(max-width:500px) {
    .designed .newsletter form .email {
        font-size: 10px;
    }
}

/*end designed*/
/*start submit*/
.services-tran {

    background-color: #a5750d;
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-weight: bold;
    font-size: 12px;
    padding: 5px;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.services-tran a {
    text-decoration: none;
    color: #ffffff;
}

/*end submit*/